/*
 * Color Scheme (new)
 * red : #f6245a
 * dark purple : #3e2e5b
 * nude : #e6dedf
 * nude purple : #958097
 * light purple : #b58cb4
*/

body {
	background-color: #3e2e5b;
}

/* Landing Page */
.landing {
	border: 10px solid #f6245a;
	border-radius: 10px;
	padding: 3rem;
	margin-top: 5rem;
	background-color: #e6dedf;
	
}
.landing h1 {
	color: #3e2e5b; 
	font-family: 'Abril Fatface', cursive;
}
.landing p {
	color: #958097;
	font-family: 'Raleway', sans-serif;
}
.landing img {
	width: 350px;
	height: 350px;
	border-radius: 50%;
}
#landing-nav .nav-custom {
	margin-top: 7px;
	font-family: 'Oswald', sans-serif;
	font-size: 130%;
	border-top: 4px solid #f6245a;
}
#landing-nav .nav-custom .nav-item a {
	color: #f6245a;
	position: relative;
	display: inline-block;
	overflow: hidden;
	background: linear-gradient(to right, #3e2e5b, #3e2e5b 50%, #f6245a 50%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: 200% 100%;
	background-position: 100%;
	transition: background-position .75s ease;
}
#landing-nav .nav-custom .nav-item a:hover {
	background-position: 0 100%;
}
.btn-custom, .btn-custom:hover, .btn-custom:active, .btn-custom:visited {
	background-color: #f6245a !important;
	border: #f6245a !important;
	box-shadow: none !important;
	font-family: 'Raleway', sans-serif;
	cursor: default !important;
}
.landing .connect p {
	color: #3e2e5b;
	margin-top: 5px;
}
.icon {
	color: #958097;
	padding: 0.5rem;
}
.icon:hover {
	color: #f6245a;
}
#icons {
	margin-left: -10px;
}
/* END landing page */

/* resume page */
.resume-header {
	background-color: #e6dedf;
	padding-top: 2rem;
	padding-bottom: .5rem;
	/*background: linear-gradient(to bottom, rgba(230,222,223,1) 0%,
                                       rgba(62,46,91,0) 100%) top, 
            linear-gradient(to bottom, rgba(230,222,223,1) 0%,
                                       rgba(62,46,91,0) 80%) bottom;*/
}
.resume-header h1 {
	font-family: 'Abril Fatface', cursive;
	font-size: 3rem;
	color: #3e2e5b;
}
.resume-header h1 a {
	text-decoration: none;
	color: #3e2e5b;
}
#resume-nav .nav-custom {
	margin-top: 7px;
	font-family: 'Oswald', sans-serif;
	font-size: 130%;
	border-top: 4px solid #3e2e5b;
}
#resume-nav .nav-custom .nav-item .notpage{
	color: #3e2e5b;
	position: relative;
	display: inline-block;
	overflow: hidden;
	background: linear-gradient(to right, #f6245a, #f6245a 50%, #3e2e5b 50%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: 200% 100%;
	background-position: 100%;
	transition: background-position 1s ease;
}
#resume-nav .nav-custom .nav-item .notpage:hover {
	background-position: 0 100%;
}
#resume-nav .nav-custom .nav-item .onpage {
	color: #f6245a;
}
/* timeline credit to: https://webdesign.tutsplus.com/tutorials/building-a-vertical-timeline-with-css-and-a-touch-of-javascript--cms-26528 */
.timeline {
	padding-bottom: 2rem;
}
.timeline ul {
	margin-right: 40px;
}
.timeline ul li {
	list-style-type: none;
	position: relative;
	width: 6px;
	margin: 0 auto;
	padding-top: 50px;
	background: #f6245a;
}
.timeline ul li::after {
	content: '';
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: inherit;
}
.timeline ul li div {
	position: relative;
	bottom: 0;
	width: 400px;
	padding: 15px;
	background: #e6dedf;
	border: 5px solid #b58cb4;
	border-radius: 5px;
}
.timeline ul li div::before {
	content: '';
	position: absolute;
	bottom: 7px;
	width: 0;
	height: 0;
	border-style: solid;
}
.timeline ul li:nth-child(odd) div {
	left: 45px;
}   
.timeline ul li:nth-child(odd) div::before {
	left: -18px;
	border-width: 8px 16px 8px 0;
	border-color: transparent #b58cb4 transparent transparent;
}
.timeline ul li:nth-child(even) div {
	left: -439px;
}
.timeline ul li:nth-child(even) div::before {
	right: -18px;
	border-width: 8px 0 8px 16px;
	border-color: transparent transparent transparent #b58cb4;
}
.timeline ul li::after {
	background: #e6dedf;
	transition: background .75s ease-in-out;
}   
.timeline ul li.in-view::after {
	border: 4px solid #f6245a;
	background: #e6dedf;
}   
.timeline ul li div {
	visibility: hidden;
	opacity: 0;
	transition: all .75s ease-in-out;
}   
.timeline ul li:nth-child(odd) div {
	transform: translate3d(200px,0,0);
}   
.timeline ul li:nth-child(even) div {
	transform: translate3d(-200px,0,0);
}   
.timeline ul li.in-view div {
	transform: none;
	visibility: visible;
	opacity: 1;
}
.timeline ul li div h4 {
	font-family: 'Oswald', sans-serif;
	color: #3e2e5b;
	margin-bottom: 0;
}
.timeline ul li div h4 small {
	color: #f6245a;
}
.timeline ul li div span {
	color: #958097;
	font-family: 'Oswald', sans-serif;
	font-size: 1.3em;
}
.timeline ul li div p {
	font-family: 'Raleway', sans-serif;
	padding-top: 6px;
	color: #3e2e5b;
}
.resume-alt {
	border-bottom: 5px solid #f6245a;
	font-size: 23px;
	padding-bottom: 5px;
	font-family: 'Oswald', sans-serif;
	color: #958097;
	padding-top: 2rem;
}
.resume-alt a {
	text-decoration: none;
	color: #f6245a;
}
.resume-alt a:hover {
	text-decoration: underline;
}
.footer {
	background-color: #e6dedf;
	/*background: linear-gradient(to bottom, rgba(62,46,91,0) 0%,rgba(230,222,223,1) 100%) top, 
				linear-gradient(to bottom, rgba(62,46,91,0) 0%,rgba(230,222,223,1) 80%) bottom;*/
	padding-top: 2rem;
	padding-bottom: 0.5rem;
}	
.footer h3 {
	font-size: 50px;
	font-family: 'Abril Fatface', cursive;
	color: #3e2e5b;
	padding-bottom: 10px;
}

/* END resume page*/

/* about page */
.about1 {
	height: 500px;
}
.about1 .box1 {
	background-color:#f6245a; 
}
.about1 .box2 img {
	border: 10px solid #b58cb4;
	border-radius: 5px;
	opacity: 80%;
	height: 250px;
	width: 375px;
}
.about1 .about-about {
	color: #e6dedf;
	font-family: 'Raleway', sans-serif;
}
.about1 .about-about h2 {
	color: #f6245a;
	font-family: 'Oswald', sans-serif;
	font-size: 250%;
}
.about2 {
	background-color: #e6dedf;
	color: #b58cb4;
	padding-top: 3rem;
	padding-bottom: 2rem;
	font-family: 'Raleway', sans-serif;
}
.about2 h2 {
	padding-bottom: 2rem;
	font-size: 250%;
}
.about-passion p {
	color: #f6245a;
	font-family: 'Oswald', sans-serif;
	font-size: 150%;
}
.about3 {
	background-color: #b58cb4;
	padding-top: 3rem;
	padding-bottom: 3rem;
}
.about3 h2 {
	color: #f6245a;
	font-family: 'Oswald', sans-serif;
	font-size: 250%;
	padding-bottom: 1.5rem;
}
.about-skill {
	padding: 1rem;
}
.about-skill .inner {
	padding: 10px;
	padding-top: 80px;
	background-color: rgba(246, 36, 90, .5);
	border-radius: 5px;
	font-family: 'Raleway', sans-serif;
	height: 200px;
	color: #3e2e5b;
}
.about-skill .inner p {
	padding-top: 1rem;
}
.btn-custom-about {
	margin-top: 30px;
}
.btn-custom-about, .btn-custom-about:visited, .btn-custom-about:active, .btn-custom-about:link {
	background-color: #e6dedf !important;
	border: 3px solid #3e2e5b !important;
	box-shadow: none !important;
	font-family: 'Oswald', sans-serif;
	cursor: pointer;
	color: #f6245a;
	padding-top: 3px;
	padding-bottom: 3px;
}
.btn-custom-about:hover  {
	background-color: #3e2e5b !important;
}
.copyright {
	font-family: 'Raleway', sans-serif;
	font-size: 75%;
	color: #3e2e5b;
	padding-top: 1rem;
}
/* END about page */

/* projects page */
hr {
	border: 0;
	margin: 1.35em auto;
	max-width: 100%;
	background-position: 50%;
	box-sizing: border-box;
}
.accessory {
	height: 6px;
	background-image: radial-gradient(closest-side, hsla(0, 0%, 50%, 1.0), hsla(0, 0%, 50%, 0) 100%);
	position: relative;
}
.accessory:after {
	position: absolute;
	top:  50%;
	left: 50%;
	display:block;
	background-color: hsl(0, 0%, 75%);
	height: 12px;
	width:  12px;
	transform: rotate(45deg);
	margin-top:  -10px;
	margin-left: -10px;
	border-radius: 4px 0;
	border: 4px solid hsla(0, 0%, 100%, 0.35);
	background-clip: padding-box;
	box-shadow: -10px 10px 0 hsla(0, 0%, 100%, 0.15), 10px -10px 0 hsla(0, 0%, 100%, 0.15);
}
.projects {
	padding-top: 3rem;
	padding-bottom: 3rem;
}
.projects h2 {
	color: #f6245a;
	font-family: 'Raleway', sans-serif;
	padding-bottom: 1.5rem;
}
.project-box h3 {
	font-family: 'Abril Fatface', cursive;
	color: #b58cb4;
}
.project-box p {
	color: #958097;
	font-family: 'Oswald', sans-serif;
}
.project-box img {
	border: 5px solid #b58cb4;
}
.btn-custom-proj-noclick, .btn-custom-proj, .btn-custom-proj:visited, .btn-custom-proj:active, .btn-custom-proj:focus {
	padding-left: 3px;
	padding-right: 3px;
	font-size: 100%;
	background-color: #e6dedf;
	font-family: 'Raleway', sans-serif;
	border: 2px solid #f6245a;
	color: #f6245a;
	border-radius: 5px;
	outline: none !important;
}
.btn-custom-proj-noclick {
	cursor: default !important;
}
.btn-custom-proj:hover {
	background-color: #f6245a;
	color: #e6dedf;
	text-decoration: none;
}
/* END projects page */



/* responsive elements */
@media (min-width: 1200px) {
	.landing img {
		margin-left: 35px;
	}
	.landing h1 {
		font-size: 300%;
	}
	.nav-custom {
		margin-top: 10px;
	}
	.landing {
		position: relative;
	}
	.landing .connect {
		position: absolute;
		bottom: 110px;
	}

	/* about */
	.about1 {
		padding-left: 3rem;
		padding-right: 3rem;
		position: relative;
		left: 60px;
	}
	.about1 .box1 {
		height:80%;
	}
	.about1 .about-about {
		position: relative;
		right: 100px;
	}
	.about1 .box2 img {
		position: relative;
		right: 100px;
	}
	.about-passion {
		padding-left: 10rem;
		padding-right: 10rem;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.landing {
		position: relative;
	}
	.landing .connect {
		position: absolute;
		bottom: 90px;
	}

	/* about */
	.about1 {
		position: relative;
		left: 50px;
	}
	.about1 .box1 {
		height: 80%;
	}
	.about1 .about-about {
		position: relative;
		right: 100px;
	}
	.about1 .box2 img {
		position: relative;
		right: 100px;
	}
	.about-passion {
		padding-left: 7rem;
		padding-right: 7rem;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.landing h1 {
		font-size: 230%;
	}
	.landing img {
		width: 300px;
		height: 300px;
		position: relative;
		right: 5px;
		bottom: 20px;
	}
	.landing {
		position: relative;
	}
	.landing .connect {
		position: absolute;
		bottom: 10px;
	}

	/* resume */
	.timeline ul li div {
		width: 250px;
	}
	.timeline ul li:nth-child(even) div {
		left: -289px; /*250+45-6*/
	}

	/* about */
	.about1 .box1 {
		height: 80%;
	}
	.about1 .box2 img {
		position: relative;
		right: 100px;
	}
	.about-passion {
		padding-left: 5rem;
		padding-right: 5rem;
	}
	
}
@media (max-width: 767px) {
	/* landing */
	.landing {
		text-align: center;
	}
	.nav-custom {
		margin-top: -10px;
	}
	.landing img {
		text-align: center;
		width: 200px;
		height: 200px;
	}
	.landing .connect {
		margin-top: 15px;
	}
	.nav-custom .nav-item a {
		padding-left: 8px;
		padding-right: 8px;
		font-size: 90%;
	}

	/* resume */
	#resume-nav .nav-custom {
		font-size: 100%;
	}
	.timeline ul li {
		margin-left: 20px;
	}   
	.timeline ul li div {
		width: calc(100vw - 200px);
	}   
	.timeline ul li:nth-child(even) div {
		left: 45px;
	}   
	.timeline ul li:nth-child(even) div::before {
		left: -15px;
		border-width: 8px 16px 8px 0;
		border-color: transparent #b58cb4 transparent transparent;
	}
	.footer h3 {
		font-size: 40px;
	}

	/* about */
	.about1 {
		height: 550px;
	}
	.about1 .box1 {
		height: 30%;
		margin-top: 40px;
	}
	.about1 .box2 img {
		height: 200px;
		width: 300px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		opacity: 1;
		position: relative;
		bottom: 100px;
	}
	.about1 .about-about {
		text-align: center;
		position: relative;
		bottom: 100px;
	}
	.about-passion {
		padding-left: .5rem;
		padding-right: .5rem;
	}
}
